<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>

        <h1>vvvvv Write something to display on my little screen vvvvvv</h1>
        <form method="POST">
            <input name="input">
            <input type="submit">
        </form>

    </body>
</html>
